DATABASE_URL=postgresql://username:password@hostname:5432/database_name
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Cloudflare R2 / S3 Storage
R2_BUCKET=your-bucket-name
R2_ACCESS_KEY_ID=your-access-key-id
R2_SECRET_ACCESS_KEY=your-secret-access-key
R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
R2_PUBLIC_DOMAIN=https://your-public-domain.com
